.tx-ik-faq {
	.tx_ikfaq_entry {
		border-left: 2px solid #222;
		margin-top: .3em;
		padding-left: 1em;
		overflow: hidden;
		transition: border-color 150ms;
		
		&:first-of-type {
			margin-top: 0;
		}
		
		&.is-open {
			border-color: pink;
			
			.tx_ikfaq_answere {
				opacity: 1;
				height: auto;
			}
		}
		
		&:hover {
			border-color: pink;
		}
	}

	.entry-question-images {
		figure {
			display: inline-block;
		}
	}
	
	.tx_ikfaq_question {
		cursor: pointer;
	}
	
	.tx_ikfaq_answere {
		opacity: 0;
		height: 0;
		transition: opacity 200ms;
	}
}
